* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #E6E3E8;
  text-decoration: none;
}

p {
  font-size: 16px;
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

body {
  background: #8A49B6;
  font-family: "Roboto";
  font-weight: 300;
  color: #E6E3E8;
  font-size: 1rem;
  background: linear-gradient(-45deg, #8A49B6, 50%, black, 50%, #381155) no-repeat;
  background-size: 100% 200vh;
  background-attachment: fixed;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}
.cabecalho .logo {
  max-width: 150px;
}
.cabecalho .menu {
  display: flex;
}
.cabecalho .menu a {
  display: inline-block;
  margin-right: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-size: 1rem;
  padding: 16px;
  margin: 0 4px;
}
.cabecalho .menu a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #E6E3E8;
  border-radius: 3px;
  display: block;
  margin: 4px auto;
  transition: 0.3s ease-in;
}
.cabecalho .menu a:hover::after {
  width: 100%;
}
.cabecalho .menu li:last-child a {
  color: #FF7F66;
  font-weight: 500;
}
.cabecalho .menu li:last-child a::after {
  background-color: #FF7F66;
}

.button {
  font-weight: 500 !important;
  outline: none;
}

.intro div {
  margin: 68px auto;
  text-align: center;
}
.intro div h1 {
  font-size: 68px;
  margin-bottom: 26px;
}
.intro div p {
  font-size: 26px;
}
.intro div p span {
  color: #FF7F66;
}
.intro button {
  margin: auto;
}

input, textarea {
  background: none;
  border: 0.21rem solid #E6E3E8;
  border-radius: 0.1875rem;
  color: #E6E3E8;
  padding: 5px 10px;
  font-family: arial;
  font-size: 16px;
  width: 380px;
  display: inline-block;
}
input:focus, textarea:focus {
  outline: 0.21rem solid #FF7F66;
  outline-offset: -0.21rem;
}

input {
  height: 36px;
}

textarea {
  height: 96px;
  resize: none;
}

label p {
  color: #E6E3E8;
  margin: 1rem 0 0.625rem;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 26px;
}
.promo h2 {
  color: #FF7F66;
  text-align: center;
  margin-bottom: 26px;
}
.promo > div {
  width: 210px;
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.03rem;
  margin: 16px;
  transform: scale(1);
  transition: 0.3s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  line-height: 1;
  user-select: none;
  cursor: pointer;
}
.promo > div:hover {
  transform: scale(1.3);
  animation-name: bounce-in;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.promo > div h3 {
  width: 180px;
}
.promo div:nth-child(even) {
  background: #662D91;
}
.promo div:nth-child(even) .preco {
  color: #FF7F66;
  font-weight: 700;
}
.promo div:nth-child(odd) {
  background: #FFC9BE;
}
.promo div:nth-child(odd) h3 {
  color: #FF7F66;
}
.promo div:nth-child(odd) p {
  color: #662D91;
}
.promo div:nth-child(odd) .preco {
  color: #662D91;
  font-weight: 700;
}
.promo h3 {
  font-size: 20px;
  font-family: "Nunito";
  font-weight: 900;
  line-height: 1.2;
}
.promo .preco {
  font-size: 26px;
  font-weight: bolder;
}
.promo > p:last-child {
  flex-shrink: 0;
  flex-basis: 100%;
  text-align: center;
  margin: 16px auto 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo > p:last-child > * {
  margin: 0 3px;
}

.sub {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.sub::before {
  content: "";
  width: 5px;
  border-radius: 5px;
  height: 16px;
  line-height: 0.5;
  background: #FF7F66;
  margin-right: 10px;
  display: block;
}
.sub span {
  color: #FF7F66;
  margin: 0 4px;
}

.button {
  padding: 10px;
  background: #FF7F66;
  color: #E6E3E8;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}
.button:hover {
  animation: button 0.7s linear;
}

.button[type=send] {
  margin: 26px 0;
}

.green {
  display: inline-block;
  background: #00AD6F;
}

.icon {
  margin-right: 10px;
}

.contato {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
}
.contato > * {
  margin: 0 26px 26px;
  max-width: 380px;
}
.contato #cddd {
  margin-right: 10px;
  max-width: 75px;
  display: inline-block;
}
.contato #ctelefone {
  max-width: 290px;
}
.contato form {
  max-height: 100%;
}
.contato .dados-contato li {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.contato .social a {
  display: inline-block;
  height: 40px;
  margin: -5px 10px 0 0;
}
.contato .social img {
  max-height: 100%;
  fill: #FF7F66;
  color: #FF7F66;
  stroke: #FF7F66;
}
.contato .social img svg {
  fill: #FF7F66;
  color: #FF7F66;
  stroke: #FF7F66;
}
.contato .social img:hover {
  fill: #FF7F66;
  color: #FF7F66;
  stroke: #FF7F66;
}

.footer {
  text-align: center;
  margin: 26px;
}
.footer p {
  margin: 0;
}
.footer img {
  height: 70px;
}
.footer span {
  color: #FF7F66;
}

@keyframes bounce-in {
  from {
    transform: scale(1) rotate(0);
  }
  40% {
    transform: scale(1.3) rotate(10deg);
  }
  70% {
    transform: scale(1.1) rotate(-10deg);
  }
  85% {
    transform: scale(1.25) rotate(5deg);
  }
  93% {
    transform: scale(1.15) rotate(-3deg);
  }
  to {
    transform: scale(1.2) rotate(0);
  }
}
.slide-wrapper {
  overflow: hidden;
  user-select: none;
  will-change: transform;
  max-width: 100%;
}

.slide {
  display: flex;
  align-items: flex-start;
  user-select: none;
}
.slide h2 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  line-height: 1;
  margin-bottom: 16px;
  color: #662D91;
}
.slide h2::after {
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 3px;
  margin: 13px auto 16px;
  background: #E6E3E8;
}
.slide li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background: #E6E3E8;
  max-width: 300px;
  margin: 0 16px;
  padding: 26px;
  border-radius: 1.25rem;
  transform: scale(0.8);
  transition: all 0.3s;
  opacity: 0.6;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.3);
}
.slide img {
  cursor: pointer;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  margin: auto;
  display: flex;
  justify-content: center;
}
.custom-controls img {
  display: block;
  max-width: 100%;
}
.custom-controls li {
  width: 15px;
  height: 15px;
  background: #DECFE2;
  opacity: 0.5;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
}
.custom-controls li.active {
  opacity: 1;
  background: #FF7F66;
}

#modal-bg {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
#modal-bg #modal-img {
  height: 90vh;
  margin: 5vh auto 0;
  display: block;
  width: 90vh;
  background: #E6E3E8;
  opacity: 1;
  padding: 26px;
  border-radius: 10px;
  position: relative;
  animation: bounce 1s linear forwards;
}
#modal-bg #modal-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}
#modal-bg .close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #836E91;
  cursor: pointer;
}
#modal-bg .close-button div {
  width: 20px;
  border-radius: 5px;
  background: #E6E3E8;
  height: 3px;
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 10px);
}
#modal-bg .close-button div:nth-child(1) {
  transform: rotate(45deg);
}
#modal-bg .close-button div:nth-child(2) {
  transform: rotate(-45deg);
}

@keyframes bounce {
  from {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.9);
  }
  85% {
    transform: scale(1.1);
  }
  93% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  from {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  to {
    transform: scale(0);
    display: none;
  }
}
@keyframes button {
  from {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.9);
  }
  85% {
    transform: scale(1.1);
  }
  93% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 959px) {
  .wrapper {
    max-width: 100vw;
    margin: 0;
  }

  .contato {
    max-height: 100%;
  }
  .contato .dados-contato {
    order: -2;
  }

  .promo > div:hover {
    animation: none;
    transform: scale(1.1);
  }

  .button {
    animation: none;
  }
}
@media (max-width: 720px) {
  .wrapper {
    max-width: 100vw;
    margin: 0;
  }

  .contato {
    max-height: 100%;
  }
  .contato .dados-contato {
    order: -2;
  }
}

/*# sourceMappingURL=style.css.map */
